page-asksubscribe {
//     .button-md-danger  {
//         height: 4.5rem !important;
//         margin-top: 19px;
//         background-color: #32beb3;
//     }
//     .black-line_stripe {
//     height: 3px;
//     background-color: black;
// }
   
  
  
.div-main{
    width:90% ! important;
    border-radius:6px;
    margin:auto;
    position: relative;
    text-align: center;
    margin-top:30%; 
}
.content-md{   
    background-color: rgba(0,0,0,0.6);
}
.content-ios{   
   background-color: rgba(0,0,0,0.6);
}
.centered {
position: absolute;
top: 60%;   
left: 50%;
transform: translate(-50%, -50%);
}
.p-text{
color:#FFFFFF;
font-size:17px;
padding:0px;
margin: 5px;
}
.button-md {
background-color: #FFFFFF;
color:#000000;
border-radius:6px;
font-size: 1.2rem;
margin-bottom:10px;
}

}
