page-myprofilep {
    .title-box{
        text-align: right;
        margin-top: -20px;
        margin-right: 25px;
      
    }

    .nav-bar-style{
        display: block;
        text-align: right;
        margin-top: -22px;
        margin-right: 9px;
    }
    .nav-bar-img{
        display: inline-block;
        height: 13px;
        margin-right: 9px;
    }

    .div-image-box{
        height: 100px;
        margin-top: 88px;
        text-align: center; 
    }
    .div-image-round{
        height: 94px;
        width: 94px;
        margin-left: 94px;
        border-radius: 45px;
        background-color: black;
    }
    .div-box{
    margin-top: 59px;
    height: 60px;
    background-color: rgba(0,0,0,.1);
    display:block;
     width:100%; 
    }
    .div-box1{
        display: inline-block;
        width:48%;
        height:59px ;
       
        float:left;
        text-align: left;

    }
    .div-box2{
       display: inline-block;
       width:52%;
       height:59px ;
      
       float:left;
    }
    .div-box3{
        margin-top: 10px;
    height: 40px;
    background-color: rgba(0,0,0,.1);
    display:block;
   width:100%;

    }
    .div-box4{
        display: inline-block;
        width:40%;
        height:40px ;
       
        float:left;
       
       

    }
    .div-box5{
        display: inline-block;
        width:40%;
        height:40px ;
   
        float:left;
        text-align: left;

        
    }
    .div-box6{
        display: inline-block;
        width:20%;
        height:40px ;
   
        float:left;
        text-align: left;

        
    }
    .div-box7{
        display: inline-block;
        width: 30%;
        height: 40px;
        background-color: #427feb;
        float: left;
        text-align: left;
        height: 27px;
        margin-top: 10px;
        height: 24px;
    }
    .div-box8{
        display: inline-block;
        width:30%;
        height:40px ;
   
        float:left;
        text-align: left;

        
    }
    .div-box9{
        margin-top: 10px;
    height: 40px;

    display:block;
   width:100%;

    }
}
