<!--
  Generated template for the TexttypepagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <headerbar></headerbar>   
    </ion-header>
 
<ion-content padding >

    <div style="margin-top: 42px;" >

        <!-- <ion-list >
            <ion-item>
              <ion-label >Text Type</ion-label>
              <ion-select [(ngModel)]="TxtTypeSelect" multiple="true" okText="Okay" cancelText="Dismiss" (ionChange)="onChangeTxtType()" text-wrap >   
                <ion-option *ngFor="let item of UsrTxtType" value="{{ item.id }}">{{ item.name }}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list> -->
          <!-- <ion-row style="border: 1px solid;
          padding: -6px;
          width: 84%;
          height: 45px;
          margin-left: 18px;
          margin-top: 20px;    margin-bottom: 12px;">
      <ion-col col-6 style="padding: 1px 11px 0px;">
      <p style="    font-size: 11.5px;">Text Type</p>
      </ion-col>
      <ion-col col-6 style="padding: 0px 4px 2px 90px;">
         <select-searchable
         [(ngModel)]="port"
         itemValueField="id"
         itemTextField="name"
         [items]="UsrTxtType"
         [isMultiple]="true"
         (onChange)="portChange($event)"
         [canSearch]="true"
         >
         <ng-template selectSearchableLabelTemplate>
           Port
         </ng-template>
       </select-searchable>
       </ion-col>
      
          </ion-row> -->
          <div style="

          height: 40px;
          
          position: absolute;
          top: 19px;
          z-index: 1000;
          left: 21px;">
          <p style="margin-left: 10px;">Text Type</p>   
          
          </div>
          <ion-row style="    margin-top: -57px;" no-padding no-margin>
          <ion-col no-padding no-margin>
          <ion-item style=" margin: 19px 0px 20px 20px;
          width: 100%;
          border: 1px solid;
          display: inline-grid;
          height: 10px;
          margin-left: 1px;">
          
          <select-searchable style=" max-width: 30% !important;
          margin-left: 194px;
          margin-top: -12px;
          color: black;width: 100px;" 
          [(ngModel)]="port"
          itemValueField="id"
          itemTextField="name"
          [items]="UsrTxtType"
          [isMultiple]="true"
          (onChange)="portChange($event)"
          [canSearch]="true"  
          >
          <ng-template selectSearchableLabelTemplate>
          Port
          </ng-template>
          </select-searchable>
          </ion-item>
          </ion-col>
          </ion-row>
          <ion-card class="card-style" *ngFor="let content of contents;let i=index"  >

            <div *ngIf="content.survey_id">
                <ion-card-title class="card-title">
                    {{content.title}}.
          
                  </ion-card-title>
                  <ion-card-content>
          
                        <div class="container"> 
                      
                <img src="{{content.image}}" class="imgB1" (click)="SurveyBtn(i)"  >
          
                </div>
                </ion-card-content>
             </div>
          
             <div *ngIf="content.contest_id">
             
          
            <ion-card-title class="card-title">
                {{content.title}}.
          
              </ion-card-title>
              <ion-card-content>
                    <div class="container"> 
                   
            <img src="{{content.image}}" class="imgB1" (click)="ContestBtn(i)"  >
          
            </div>
            </ion-card-content>
                   </div>
          
          
          
                   
                   <div *ngIf="content.content_id">





          <!-- <ion-card-title class="card-title">
            {{content.title}}.
        <p class="subtitle">Post by {{ content.content_writer }}, {{ content.published_date  }}</p>
          </ion-card-title>
          <ion-card-content>
                <div class="container"> 
                <img   class="imgA1" *ngIf="content.is_favorite==1" src="assets/imgs/Facebook-Reactions_0001_Layer-2.png" right>
                <img src="{{content.image}}" *ngIf="content.image!=''"  class="imgB1" (click)="readmore(i)"  >
                <img *ngIf="content.image==''"  class="imgB1"  src="assets/imgs/NoImageAvailable.jpg" (click)="readmore(i)" >
        <div class="line-strip">
          <div class="strip_1"> 
        <ion-row (click)="fabbtnclick(content.likesCount,i)">
          <ion-col>
         <img class="style-img" src="assets/imgs/Facebook-Reactions_0000_Layer-1.png">
         </ion-col>
        <ion-col >
         <p class="p-style">Like</p>
         </ion-col>
          </ion-row>
        </div>
        
        <div *ngIf="showreaction==true">
          <div class="strip_2" *ngIf="i==jindex" id="{{i}}_x"  >
        
        <div class="react-style-div" >
        <div class="react-inside" >
            <img class="col-style" src=" assets/imgs/happy-emoji.png" >
            <p class="react-p-style">{{ ehappy }}</p>
          </div>
          <div class="react-inside" >
              <img class="col-style" src="assets/imgs/aww-emoji.png" >
              <p class="react-p-style">{{ eaww }}</p>
            </div>
            <div class="react-inside" >
                <img  class="col-style" src="assets/imgs/sad-emoji.png" >
                <p class="react-p-style">{{ esad }}</p>
              </div>
        
              <div class="react-inside" >
                  <img class="col-style" src="assets/imgs/angry-emoji.png" >
                  <p class="react-p-style">{{ eangry }}</p>
                </div>
                <div class="react-inside" >
                    <img class="col-style" src="assets/imgs/lol-emoji.png" >
                    <p class="react-p-style">{{ elol }}</p>
                  </div>
        
        </div>
         </div>
         </div>
        
        <div class="strip_3"  id="{{i}}_y"  >
              <p class="read-text" > {{ content.totalviews }} View | {{ content.totalshares }} Share</p>
        </div>
        </div>
        </div>
        </ion-card-content> -->
        <ion-card-title class="card-title">
          <p class="title">{{content.title}}.</p>
          <p class="subtitle">Post by {{ content.content_writer }}, {{ content.published_date  }}</p>
       </ion-card-title>
       <ion-card-content>
          <div class="container">
             <img (click)="fav(i)"  class="imgA1" *ngIf="content.is_favorite==0" src="assets/heart_1.png" right>
             <img   (click)="fav(i)" class="imgA1" *ngIf="content.is_favorite==1" src="assets/heart_2.png" right>
             
             
             <img src="{{content.image}}" *ngIf="content.image!=''"  class="imgB1" (click)="readmore(i)"  >
             <img *ngIf="content.image==''"  class="imgB1"  src="assets/imgs/NoImageAvailable.jpg" (click)="readmore(i)" >
             <div class="header-div">
                <p class="read-text" > {{ content.totalviews }} View |{{ content.comment.length }} comments |{{ content.totalshares }} Share</p>
                <div class="react-style-div" >
                   <div *ngFor="let likec of content.likesCount">
                      <div class="react-inside" *ngIf="likec.like_id==1" >
                         <img class="col-style" src="assets/icon/Asset1.png" >
                         <p class="react-p-style">{{ likec.total }}</p>
                         <p class="text-react">Like</p>
                      </div>
                      <div class="react-inside" *ngIf="likec.like_id==5" >
                         <img  class="col-style" src="assets/icon/Asset2.png" >
                         <p class="react-p-style">{{ likec.total }}</p>
                         <p class="text-react left-react">Happy</p>
                      </div>
                      <div class="react-inside" *ngIf="likec.like_id==2" >
                         <img  class="col-style" src="assets/icon/Asset3.png" >
                         <p class="react-p-style">{{ likec.total }}</p>
                         <p class="text-react left-react">Surprised</p>
                      </div>
                      <div class="react-inside"  *ngIf="likec.like_id==3" >
                         <img class="col-style" src="assets/icon/Asset4.png" >
                         <p class="react-p-style">{{ likec.total }}</p>
                         <p class="text-react">Sad</p>
                      </div>
                      <div class="react-inside" *ngIf="likec.like_id==4" >
                         <img class="col-style" src="assets/icon/Asset5.png" >
                         <p class="react-p-style">{{ likec.total }}</p>
                         <p class="text-react">Angry</p>
                      </div>
                   </div>
                   <div *ngIf="content.likesCount?.length ==0">
                      <div class="react-inside" >
                         <img class="col-style" src=" assets/imgs/happy-emoji.png" >
                         <p class="react-p-style">0</p>
                         <p class="text-react">Like</p>
                      </div>
                      <div class="react-inside"  >
                         <img class="col-style" src="assets/imgs/aww-emoji.png" >
                         <p class="react-p-style">0</p>
                         <p class="text-react">Happy</p>
                      </div>
                      <div class="react-inside"  >
                         <img  class="col-style" src="assets/imgs/sad-emoji.png" >
                         <p class="react-p-style">0</p>
                         <p class="text-react left-react">Surprised</p>
                      </div>
                      <div class="react-inside" >
                         <img class="col-style" src="assets/imgs/angry-emoji.png" >
                         <p class="react-p-style">0</p>
                         <p class="text-react">Sad</p>
                      </div>
                      <div class="react-inside"  >
                         <img class="col-style" src="assets/imgs/lol-emoji.png" >
                         <p class="react-p-style">0</p>
                         <p class="text-react">Angry</p>
                      </div>
                   </div>
                </div>
             </div>
             <div class="share-class">
                <div class="share-box" (click)="facebookShare(i)" >   
                   <p>
                      <img src="assets/imgs/share-icon/facebook.png">
                   </p>
                </div>
                <div class="share-box" (click)="twitterShare(i)">
                   <p>  
                      <img src="assets/imgs/share-icon/twitter.png">
                   </p>
                </div>
                <div class="share-box" (click)="InstagramShare(i)">
                   <p>
                      <img src="assets/imgs/share-icon/instagram.png">
                   </p>
                </div>
                <div class="share-box" (click)="WhatsAppShare(i)">
                   <p>
                      <img src="assets/imgs/share-icon/wattsapp.png">
                   </p>
                </div> 
                <!-- <div class="share-box" (click)="TumblrShare(i)">  
                   <p>
                      <img src="assets/imgs/share-icon/tumbler.png">
                   </p>
                </div> -->
             </div>
          </div>
       </ion-card-content>
</div>




        </ion-card>
        </div>
</ion-content>
