.theme-blue
{
    .black-line_stripe {
        height: 4px !important;
        background-color:#363A45 !important;
    }
    .box-3 {
        width: 30% ;
        background-color: #363A45 !important;
        color:#ffff !important;
    }
    // .scroll-content {
    //     background-image: url(../assets/imgs/profile/profile-blue-bg.png);
    //     background-repeat: no-repeat;
    //     background-size: 100% 100%;
    // }
}