.theme-grey
{
    .black-line_stripe {
        height: 4px !important;
        background-color:#4E4E50 !important;

    }
    .box-3 {
        width: 30% ;
        background-color: #E5E5E5 !important;
        color:black !important;
    }
    // .scroll-content {
    //     background-image: url(../assets/imgs/profile/profile-bg.png);
    //     background-repeat: no-repeat;
    //     background-size: 100% 100%;
    // }
}