.theme-red {
    
    .black-line_stripe {
        height: 4px !important;
        background-color:#850043 !important;
    }
    .box-3 {
        width: 30% ;
        background-color: #9F024E !important;
        color:#ffff !important;
    }
    // .scroll-content {
    //     background-image: url(../assets/imgs/profile/profile-red-bg.png);
    //     background-repeat: no-repeat;
    //     background-size: 100% 100%;
    // }

}
