.smallfontsize-theme {
  .fontsize-change{
      font-size:1.3rem 
  }

  page-teacherprofilep {
    .text-style{
    font-size: 1.0rem;
  }

  .private-info {
    font-size: 1.1rem;
  }

  }


  page-imagazinespage {
    .card-title {
      font-size: 1.0rem;
    }
  }
  page-imagzinedetail {
    h2 {
      font-size: 1.5rem;
  }
  p{
    font-size: 1.0rem;
  }

  }



  page-contestquest {
    .item-md {
      font-size: 1.2rem;
    }
    .title-box {
      font-size: 1.2rem;
    }
  }

  page-survey {
    .item-md {
      font-size: 1.2rem;
    }
    .title-box {
      font-size: 1.2rem;
    }

    .pQuest {
      font-size: 10px;
  }
  .QuestCl
  {
  font-size: 10px;
  }
  .AnsCl
  {
      font-size: 8px;
  }
  }




}