.largefontsize-theme {
  .fontsize-change{
    font-size: 4.0rem;
  }


  page-teacherprofilep {
    .text-style{
      font-size: 1.6rem;
  }
  .private-info {
    font-size: 1.7rem;
  }
  .div-txt1{
    font-size: 1.6rem;
  }
  }
  page-imagazinespage {
    .card-title {
      font-size: 2.0rem;
    }
  }

  page-imagzinedetail {
    h2 {
      font-size: 2.8rem;
  }
  p{
    font-size: 2.0rem;
  }

  }


  page-contestquest {
    .item-md {
      font-size: 2.2rem;
    }
    .title-box {
      font-size: 2.2rem;
    }
  }

  page-survey {
    .item-md {
      font-size: 2.2rem;
    }
    .title-box {
      font-size: 2.2rem;
    }
    .pQuest {
      font-size: 20px;
  }
  .QuestCl
  {
  font-size: 20px;
  }
  .AnsCl
  {
      font-size: 18px;
  }
  }


}