.mediumfontsize-theme {
    .fontsize-change{
      font-size:2.3rem 
  }
  
  page-teacherprofilep {
    .text-style{
    font-size: 1.3rem;
  }
  .private-info {
    font-size: 1.4rem;
  }
  .div-txt1{
    font-size: 1.4rem;
  }
  }

  page-imagazinespage {
    .card-title {
      font-size: 1.5rem;
    }
  } 

  page-imagzinedetail {
    h2 {
      font-size: 2.4rem;
  }

 #content_data p{
    font-size: 1.5rem;
  }

  }


  page-contestquest {
    .item-md {
      font-size: 1.6rem;
    }
    .title-box {
      font-size: 1.6rem;
    }
  }

  page-survey {
    .item-md {
      font-size: 1.6rem;
    }
    .title-box {
      font-size: 1.6rem;
    }

    .pQuest {
      font-size: 16px;
  }
  .QuestCl
  {
  font-size: 16px;
  }
  .AnsCl
  {
      font-size: 14px;
  }

  }


}