.theme-yellow
{
    .black-line_stripe {
        height: 4px !important;
        background-color:#F7B625 !important;
    }
    .box-3 {
        width: 30% ;
        background-color: #EEC86F !important;
        color:black !important;
    }
    // .scroll-content {
    //     background-image: url(../assets/imgs/profile/profile-yellow-bg.png);
    //     background-repeat: no-repeat;
    //     background-size: 100% 100%;
    // } 
}