page-refferal {
   
   
    .title-box
    {
        height:50px;
        width:100%; 
        display:block; 
        background-color: white;
    }
    
    .title-innerdiv
    {
        height:50px;
        display:inline-block;
        float: left; 
    }
    
    .box-1
    {
        width:40%;
        padding: 10px;
    }
    .box-2
    {
        width:29.9%;
    }
    
     
    .title-profile
    {
        width: 43%;
        height: 60px;
        display: inline-block;
    }
    
    .title-info_box
    {
        width: 57%;
        height: 60px;
        display: inline-block;
        float: right;
    }
    
    .title-bar
    {
        height:10px;
        width:100%;
    }
        
        
        
        
        
        .point-style
        {
            position: absolute;
            bottom: 38px;
            left: 59px;
        }
        .help-style
        {
            position: absolute;
            bottom: -13px;
            left: 59px;
        }
      .p-tag{
        color: #282425;
        font-size: 1.3rem;
      }
      
        .gift-style
        {
            width: 155px; 
            margin-left: 11px;
        }
        
        .p-tag-head{
            font-family: "Lobster";
            font-size: 1.8rem;
            color: #A9A9A9;
    
        }
        
        .img-style_slide
        {
            height:272px;
        }
    .p-tagstyle
    {
        letter-spacing: 1px;
        font-family: "Century Gothic"; 
        font-size: 1.8rem;
        font-weight: 700;
        color: #fff;
        position: absolute;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .container{  
        position: relative;
        text-align: center;
        margin-bottom: 8px;
    }
    .profile-strip 
    {
        position: absolute;
        bottom: -112px;
    }
    .help-strip
    {
        position: absolute;
        bottom: -13px;
    }
    
    .redem-div
    {
        position: absolute;
      
        z-index: 2;
        height: 96px;
        width: 100%;
        top: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.3rem;
        font-weight: 600;
        color: white;
    }
    .outer-div      {     width: 100%; height: auto;  margin-top: 55px; }
    .outer-div-left     {  width: 55%; float: left; }
    .outer-div-right    { width: 35%;  float: left;     text-align: center; }
    .img1   {     text-align: center;    object-fit: cover;     margin-top: 15px;     }
    .img2 { width: 30%;     margin-top: 35px;      }
    .img-profiles
    {
        width: 70%;
        height: 22%;
        display: block;
        margin: 0 auto;
        float: right;  
        border-radius: 100px;
    }
    .avatar-p{
        display: inline-block;
        margin-left: 70px;
        font-size: 1.0rem;
        margin-top: 5px;
        font-family: "Century Gothic"; 
    }
    
    .div-txt{ 
        font-size: 2.9rem;
        color:#344861;
        font-family: "Century Gothic";                           
    }
    .div-txt1{
        color:#344861;
        font-family: "Century Gothic";
        font-size: 1.0rem;
    }
    
    .button-outline-md { 
        border-color: map-get($colors, profileBtnGrey);
        color: #AFAFAF;
        font-family: "Century Gothic"; 
    }
    
    .btnViewProfile{
        background-color: map-get($colors,profileBtnBg) !important;
        height: 30px !important;
        border-radius: 4px !important;
        font-family: "Century Gothic"; 
        text-transform: capitalize;
    }
    
    .btnAddFamily{
        background-color: map-get($colors,profileBtnBg) !important;
        height: 30px !important;
        border-radius: 4px !important;
        font-family: "Century Gothic"; 
        text-transform: capitalize;
    }
    
    .btnRedeem{
        text-transform: capitalize;
        border-radius: 4px !important;
        height: 2.6rem !important;
        font-size: 1.0rem !important;
        background-color: #0F7A8C;
        font-family: "Century Gothic"; 
    }
    
    .btnRenew{
        text-transform: capitalize;
        border-radius: 4px !important;
        height: 2.6rem !important;
        font-size: 1.0rem !important;
        background-color: #D43D66;
        font-family: "Century Gothic"; 
    }
    
    .btnInvite{
        text-transform: capitalize;
        border-radius: 4px !important;
        height: 2.6rem !important;
        font-size: 1.0rem !important;
        background-color: #873E85;
        font-family: "Century Gothic"; 
    }
    
    .p-private
    {
            color: #354962;
            font-family: 'Century Gothic';
            font-size: 1.4rem;
    }
    
    .p-left
    {
        font-family: "Century Gothic Regular";
        font-size: 1.3rem;
        
    }
    
    .p-right{
    
        font-family: "Century Gothic Regular";
        font-size: 1.3rem;
    }
    
    p-info{
        font-size: 1.8rem;
        font-weight: 800;
        color: #010101;
        font-family: "Century Gothic";
    }
    
    
    
    
    // header 
    
    
    .black-line_stripe
    {
        height: 3px;
        background-color: #1A1E23;
    }
    
    .img-style_arrow{
        height: 10px;
        margin-bottom: 3px;
        margin-left: -6px;
    }
    
    .p-style1
    {
        font-size: .9rem;
        margin-top: 12px;
        margin-left: 3px;
    }
    
    .view-style
    {
        font-size: 5.9px !important;
        margin-top: -1px;
        margin-left: 4px;
    }
    .welcome-text
    {
    display: inline-block;
    width:64% ;
    height:37px ;
    }
    .arrow-style
    {
    display:inline-block; 
    width:28%; 
    
    height:30px ;
    }
    .title-welcome_name
    {
        height: 37px;
    }
    .title-view_more
    {
        height:20px;
    }
    
    .div-profile_img
    {
        width: 30px;
        float: right;
        margin-top: 11px;
    }
    .div-notify{
        width: 34px;
        float: right;
    }
    
    .title-box
    {
        height:50px;
        width:100%; 
        display:block; 
    }
    
    .title-innerdiv
    {
        height:50px;
        display:inline-block;
        float: left; 
    }
    
    .box-1
    {
        width:40%;
        padding: 10px;
    }
    .box-2
    {
        width: 27%;
    }
    
     
    .title-profile
    {
        width: 34%;
        height: 60px;
        display: inline-block;
    }
    
    .title-info_box
    {
        width: 63%;
        height: 60px;
        display: inline-block;
        float: right;
    }
    
    .title-bar
    {
        height:10px;
        width:100%;
    }
    
    .scroll-content {
        padding-bottom: 35px !important;
    }
    
    
    .div-badge
    {
        position: absolute;top: 7px; right: 122px; border-radius: 100%;
    }
    
    @media only screen and (max-width: 720px) {
    
        .div-badge
        {
            position: absolute;top: 7px; right: 110px; border-radius: 100%;
        }
    }
    .badge-md-profileBtnBg {
        top: 8px;
        right: 108px;
        border-radius: 100%;
        text-indent: -1px;
        font-size: .5rem;
        height: 15px;
    
        width: 14px;
        position: absolute;
        right: 113px;
        padding: 4.1px;
    }
    .item-md{
        background-color: transparent;
    }
    .item-ios{
        background-color: transparent;
    }  
    
    
    ion-slides {
        height: 50%;
    } 
    ion-header {
        background: #fff;
    }
    .box-3 {
        width: 33% !important;
    }

    .ref-terms {
        color: #6d6e71 !important;
        font-weight: normal !important;
        font-size: 14px !important;
        margin-bottom: 20px;
    }

    .footer-text {
        margin-top: 16px;  
        width: 100%;
        text-align: center;
        color: #c4162f;
        font-size: 16px;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        font-weight: bold;
    }

    .profile-strip {
        position: absolute;
        bottom: -295px;
    }  
    

}
