page-commentsilr {
.img-style{
    border-radius: 50%;
    width:40px 
}
.box-style{
 margin-top:67px ;
 width:100%;
 display:block  
}
.div-img-style{
display:inline-block;
width:20%;
   
}
.div-p-style{
    display:inline-block;
    width:67%;
     
    position:absolute; 
}
}
