page-trial-period {
p {
    text-align: center;
}

.button-box{
    height: 4.5rem !important;
    margin-top: 19px;
}
.button-md-danger
{
    height: 4.5rem !important;
    margin-top: 19px;  
}


}
