page-teachersubscribe {
    .button-box{
        color: #fff;
        background-color: #32beb3;
        height: 4.5rem !important;
        margin-top: 19px;
        position: absolute;
        bottom: 15px;
        left: 14px;
        width: 90%;
    }

    .scroll-content {
        margin-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .toolbar-background-md {
        border-color: #ffffff !important;
        background: #ffffff !important;
    }

    .row-col-p{
        font-size: 11px;
        font-family: "Century Gothic";
        text-align: center;
        color: #7d7d7d;
        margin-bottom: 3px !important;
        margin-top: 7px !important;
    }
    .p-or{
        font-family: "Century Gothic";
        margin-top: 0px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        padding-right: 25px;
        margin-left: 18px;
    }
    .row-col12-div-img{
        width: 70%;
        margin-left: 15%;
    }


    .row-col12-div-img1{
        width: 70%;
    }


    .row-col12-div-img2{
        display: block;
    margin: 0 auto;
    width: 50%;
    }
    
    .imgTop
    {
        top: -23px;
        left: 79%;
        width: 15%;
        float: right;
        position: absolute;
    }

    .div-outer
    {
        width:100%;
    }

    .div-inner{
        font-size: 11px;
        font-family: "Century Gothic";
        width: 65%;
        text-align: center;
        margin-left: 17%;
    }

  
    .p-tittle{
        font-family: "Century Gothic";
        margin-bottom: 13px;
        margin-top: 0px;
        text-align: center;
        font-size: 12px;
            color: #7d7d7d;
        font-weight: bold;
    }

.p-tittle1
    {
        font-family: "Century Gothic";
        margin-bottom: 3px;
        margin-top: 3px;
        text-align: center;
        font-size: 12px;
        color: #7d7d7d;
        font-weight: bold;
    }
    .p-tittle2
    {
        font-family: "Century Gothic";
        margin-bottom: 3px;
        margin-top: 3px;
        text-align: center;
        font-size: 12px;
        color: #7d7d7d;
        font-weight: bold; 
    }
    .scroll-content {
        margin-top: 53px !important;
    }
    ion-header {
        background: #fff;
    }
    .box-3 {
        width: 32% !important;
    }
}
